/* GRAL */
*{
    font-family: Roboto-Regular;
}
body{
	background-color: #F2F2F2;
}

/* TABLA */

.admin-tabla{
	margin: 32px auto;
	max-width: 700px;
	width: 100%;
}
.achicar{
	width: 550px;
}
table{
	background-color: #FFFFFF;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}
td{
	padding: 10px;
}
td[colspan="8"],
td[colspan="5"],
td[colspan="4"]{
	background-color: #3B7889;
	color: white;
	border-bottom: 3px solid #1B3941;
	padding: 20px;
	text-align: center;
	font-family: Roboto-Bold, Sans-Serif;
}
tr:nth-child(even){
	background-color: #DDD;
}
tr:hover td{
	background-color: #81BACC;
	color: white;
}
.no-hover td{
	font-family: Roboto-Bold, Sans-Serif;
}
.no-hover:hover td{
	background-color: #DDD;
	color: black;
}
tr:hover .primer-td{
	background-color: #3B7889;
	color: white;
}
.operaciones-center{
	text-align: center;
}
.admin-tabla a{
	text-decoration: none;
	color: black;
	font-weight: bold;
	-transition: all ease .3s;
}
.admin-tabla a:hover{
	color: #3B7889;
}

/* FORMULARIO */

.contenedor-formulario{
	margin: 40px auto;
	width: 450px;
	background-color: white;
	padding: 25px;
	text-align: center;
	box-shadow: 0px 0px 2px black;
}
input{
	width: 100%;
}
.contenido-alargar{
	width: 100%;
}
h1{
    margin-top: 8px;
    margin-bottom: 36px;
}
.textt{
	padding-left: 12px;
}
.textt,
select{
	width: 85%;
	height: 36px;
    border: none;
    border-bottom: 1px solid black;
    font-size: 14px;
    outline: none;
    margin-bottom: 20px;
    padding: 1px;
}
select:hover,
.textt:hover{
    border-bottom: 1px solid #303F9F;
    color: #303F9F;
    -webkit-transition: all ease .5;
    -o-transition: all ease .5;
    transition: all ease .5s;
}
select:focus
.textt:focus{
    border-bottom: 1px solid #303F9F;
    color: black;
}
input[type="submit"]{
    width: 90%;
    display: inline-block;
    padding: 15px;
    background: #303F9F;
    color: #FFF;
    border: 2px solid #F2F2F2;
    border-radius: 1px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-family: Roboto-Bold, Sans-Serif;
    font-size: 16px;
}
input[type="submit"]:hover{
	background-color: rgba(48,63,159, .9);
}
.limit-width-uno{
	max-width: 40%;
}
.limit-width{
	max-width: 30%;
}